*{
     margin: 0;
 }
 .menu-bar{
    height: 70px;
    display: block;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-bar a{
    float: right;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 20px;
}
.menu-bar a:hover{
    color: #FFBE0D;
}
.menu-order{
    height: 65px;
    text-align: center;
    display: block;
    background-color: #FFBE0D;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-order a{
    text-decoration: none;
    color: black;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
}
.menu-order a:hover{
    color: white;

}

.dropdown {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 20px;
    padding-right: 20px;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    color: black;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    float: left;
  }
  
  .dropdown:hover {
    color: #ffbe0d;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

.orderbody{
    background-color: #F6F6F6;
}
.orderfooter{
    color: white;
    font-size: 16px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-top: 400px;
    background-color: black;
}
.tableorder{
  margin-left:10%;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin-right:10%;
  background-color: #ffffff;
  border-bottom: 20px solid #F6F6F6;
}
.orderno{
  padding: 3%;
}
.textheader{
    margin: 3% 10% 1% 10%;
}
.order{
    margin-top: 20px;
}
th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 20px solid #F6F6F6; 
  }