body{
    background-color: black;
    margin-top: 0px;
}

.menu-bar{
    height: 70px;
    display: block;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-bar a{
    float: right;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 20px;
}
.menu-bar a:hover{
    color: #FFBE0D;
}

.success {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #3c763d;
    color: #3c763d;
    background: #dff0d8;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}


.loginall{
    position: fixed;
}

.background_login{
    margin-top: 0px;
    width: 500px;
    height: 600px;
    float: left;
}

#back1{
    width: 1500px;
    height: 1200px;
    border-radius: 50%;
    margin-top: -200px;
    margin-left: -600px;

}

.login_form{

    margin-top: 200px;
    float: right;
    position: absolute;
    margin-left: 1000px;
    background-color: black;
    width: 500px;
    text-align: center;
}

.title{
    color: white;
    font-size: 24px;
}

#loginbutton{
    margin-top: 5px;
    background-color: #ffbe0d;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#loginbutton:hover{
    margin-top: 5px;
    background-color: #d19900;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

input[type=text]{
    border-radius: 5px;
    margin-bottom: 10px;
    padding-right: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
}

#link{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
#link:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(193, 193, 255)
}
@media screen and (min-width: 360px ) and (max-width: 640px) {

    #back1 {
        display: none;
        position: static;
    }
    .login_form{
        margin-top: 200px;
        float: none;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
    }
}