<!DOCTYPE html>
<html>
    <head>
        <title><?= title ?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <nav class="navbar navbar-light justify-content-between" style="background-color: black;">
            <a class="navbar-brand">LOGO</a>
            <div class="form-inline text-white mr-3 box_view_menu">
              <a href="/home" class="p-3">Home</a>
              <a href="/contact" class="p-3">Contact</a>
              <a href="http://127.0.0.1:3000/" class="p-3">About</a>
              <a href="/register" class="p-3">Register</a>
              <a href="/login" class="p-3">Login</a>
          </div>
          </nav>
          <h1><?= title ?></h1>

          <div class="footer">
            <div class="container"> 
              <div class="row">
                <div class="col-8">    
                  <h3>Develop by </h3><br>
                  1. B6121785 นางสาวปนัดดา เบ็ดกระโทก<br>
                  2. B6122171 นายธิติพันธุ์ พอควร<br>
                  3. B6122256 นายสุนทร รักชาติ<br>
                  4. B6122553 นายอิบรอเฮ็ม บูละ<br>
                  5. B6122898 นายปิยพนธ์ พุ่มหมื่นไวย<br>
                  6. B6122942 นายสันติชัย ยะระสิทธิ์<br>
                 </div>
                  <div class="col-">
                    <h3>Contact </h3> <br>
                   E-mail: sixshoes@shop.com<br>
                   Phone: +66 826-5328<br>
                    Facebook: Sixshoes<br>
                    Development by Sixshoes@2021<br>
                    <br>
                  </div>
              </div>
            </div>
          </div>
    </body>
</html>